<!DOCTYPE html>
<html>
<head>
    <title>socket.io</title>
    <!--
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    -->
    <script type="text/javascript" src="/static/socket.io.js"></script>
</head>
<body>
<div></div>
<p id="demo">data: </p>
<script type="text/javascript">
    
    var socket = io("ws://127.0.0.1:7000/test"); //通过ip和端口建立一个socket client
        
    socket.on('connect', function(){
        console.log('connect a socket client');
    });

    socket.on('my response', function (data){
        console.log(data);
        document.getElementById("demo").innerHTML += data.data;
    });
    sleep(3000);
    socket.emit('my event', {data: 'hello world'});

    function sleep_privite(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }

    async function sleep(ms) {
        await sleep_privite(ms);
    }

</script>
</body>
</html>